.cart {
    margin: 70px;
    width: 700px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.cart .info span {
    vertical-align: top;
    font-weight: bold;
    font-size: 18pt;
    display: inline-block;
    margin: 10px;
}

.toCheckoout {
    width: 150px;
    position: fixed;
    right: 0px;
    top: 0px;
}


.cart .info .movie-image {
    width: 75px;
    height: 100px;
}

.cart .info .name {    
    font-weight: bold;
    vertical-align: top;

}