.movie-data {
    display: flex;    
    margin: 70px;
    width: 700px;
}

.movie-image {
    width: 30%;
    height: 30%
}

.movie-info {
    margin-left: 20px;
}

.movie-title {
    display: flex;
    text-align: center
}

.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.details span {
    font-weight: bold;
}

